@import url("https://fonts.googleapis.com/css2?family=Creepster&family=IM+Fell+English+SC&family=Butcherman&family=Nosifer&display=swap");
:root {
  --dark-midnight: #1b1b2f;
  --haunted-purple: #3d315b;
  --pumpkin-orange: #ff7518;
  --ghoulish-green: #2ecc71;
  --bone-white: #e0e0e0;
  --blood-red: #c0392b;
  --dusty-grey: #7d7d7d;
  --border-radius: 15px;
  --font-heading: "Creepster", Impact, serif;
  --font-body: "IM Fell English SC", Georgia, serif;
  --font-subheading: "Butcherman", Arial Black, sans-serif;
  --font-accent: "Nosifer", Courier New, monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--bone-white);
}
.main-container {
  background-color: var(--blood-red);
}

.monster-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: repeat(2, 1fr);
  max-width: 980px;
  margin: 5rem auto;
  position: relative;
  z-index: 1;
}

.monster-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.8rem;
  color: var(--bone-white);
  /* border: 3px solid var(--bone-white); */
  border-radius: var(--border-radius);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
}

.monster-card :hover {
  cursor: pointer;
}

.card-name,
.card-specialty {
  text-align: center;
  font-family: var(--font-body);
  width: 100%;
}

.card-name {
  /* z-index: 100;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; */
  padding: 1rem;
  background-color: var(--haunted-purple);
  border-radius: 5px;
  font-size: 15px;
  font-family: var(--font-accent);
}

.card-specialty {
  padding: 1rem;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  padding: 1rem;
  color: var(--bone-white);
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.team-left {
  background-color: var(--ghoulish-green);
  color: white;
}

.team-right {
  background-color: var(--dusty-grey);
  color: white;
}
