.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  min-width: 400px;
  background-color: var(--secondBright);
  border-radius: 1rem;
}
.output {
  grid-column: 1/5;
  color: var(--mainDark);
  background: var(--secondBright);
  font-size: 2rem;
  text-align: end;
  padding: 0.5rem 1rem 0.5rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.calculator-grid button {
  border: none;
  color: var(--mainBright);
  font-size: 1.5rem;
  padding: 1rem;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
.calculator-grid .color1 {
  background: var(--mainDark);
}
.calculator-grid .color2 {
  background: var(--secondDark);
}
.calculator-grid .color3 {
  background: var(--accent);
}

.buttonEquals {
  grid-column: 4;
  grid-row: 5 / span 2;
}

.button0 {
  grid-column: span 2;
}

.divide {
  grid-column: 4;
  grid-row: 4;
}
.backspace {
  grid-column: 4;
}

.calculator-grid button:hover {
  opacity: 1;
}
