.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  max-width: 500px;
}
.output {
  grid-column: 1/5;
  color: var(--mainDark);
  background: var(--secondBright);
  font-size: 2rem;
  text-align: end;
  padding: 0.5rem 1rem 0.5rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
}
.span-button {
  grid-column: 4;
  grid-row: 4 / span 3;
}

.calculator-grid button {
  border: none;
  color: var(--mainBright);
  background: var(--mainDark);
  font-size: 1.5rem;
  padding: 1rem;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.calculator-grid button:hover {
  opacity: 0.9;
}
